@use "color";
@use "layout";
@use "font";
@use "misc";

@mixin focus {
  font-weight: 700;
  background-color: transparentize(color.$background, misc.$transparency);
  color: color.$text-highlight;
}
@mixin result($border-color: color.$background-surface) {
  all: unset;
  background-color: transparentize(color.$background-muted, misc.$transparency);
  font-family: font.$mono-family;
  font-size: #{font.$mono-size * 1.3}px;
  font-weight: 500;
  border-top: 1px solid #{$border-color};

  &.entry-focused {
    &:first-child button {
      @include focus;
    }
  }

  button {
    all: unset;
    border-radius: #{layout.$radius}px;
    margin: #{layout.$gap / 2}px 0px;
    padding: #{layout.$padding}px;
    color: color.$text;

    &:focus,
    &:hover {
      @include focus;
    }

    icon {
      font-size: 28px;
    }
  }
  &:first-child {
    border-color: transparent;
    button {
      margin-top: #{layout.$gap}px;
    }
  }
}
