@use "mixins";
@use "layout";
@use "color";

window.Dock .content {
  @include mixins.widget;
  @include mixins.separator;

  .indicator {
    min-width: 32px;
    min-height: #{layout.$border-width * 1.5}px;
    border-radius: #{layout.$radius}px;
    transition: background-color 0.1s ease-in-out;

    &.shown {
      background-color: color.$text;
    }
  }

  button {
    all: unset;
    icon {
      padding: #{layout.$padding / 2}px #{layout.$padding}px;
    }
    border-radius: #{layout.$radius}px;
    transition: background-color 0.1s ease-in-out;

    &:hover {
      background-color: color.$background;
    }

    &:hover .indicator.shown {
      background-color: color.$accent7;
    }
  }
}
